<%- contentFor('main-content') %>


<!--ARTICLE CONTENT-->
<%- include ('../content/article-content') %>
<!--USER CONTENT-->
<%- include ('../content/user-content') %>
<!--COMMENT CONTENT-->
<%- include ('../content/comment-content') %>
<!--CATEGORY CONTENT-->
<%- include ('../content/category-content') %>
<!--CATEGORY VIEW END HERE-->


