<!-- views/partials/footer.ejs -->
<!--<center>-->
<!--<p>© Copyright 2020 Manifest & Company Inc</p>-->

<!-- article LINKS -->

<!--router.get('/article/create', article_controller.article_create_get);-->
<!--<a href="/blog/article/create">Article Create GET </a> | -->

<!--router.post('/article/create', article_controller.article_create_article);-->
<!--<a href="/blog/article/create">Article Create POST </a> | -->

<!--router.get('/article/:article_id/delete', article_controller.article_delete_get);-->
<!--<a href="/blog/article/:article_id/delete">Article Delete GET </a> | -->

<!--router.post('/article/:article_id/delete', article_controller.article_delete_article);-->
<!--<a href="/blog/article/:article_id/delete">Article Delete POST   </a> | -->

<!--router.get('/article/:article_id/update', article_controller.article_update_get);-->
<!--<a href="/blog/article/:article_id/update">article Update GET </a> |-->

<!--router.post('/article/:article_id/update', article_controller.article_update_article);-->
<!--<a href="/blog/article/:article_id/update">article Update POST </a> |-->

<!--router.get('/article/:article_id', article_controller.article_detail);-->
<!--<a href="/blog/article/:article_id">article Detail One  </a> |-->

<!--router.get('/articles', article_controller.article_list);-->
<!--<a href="/blog/articles">article Detail All </a> -->

<!--<br/>-->

<!-- USER LINK -->

<!--router.get('/user/create', user_controller.user_create_get);-->
<!--<a href="/blog/user/create">User Create GET </a> | -->

<!--router.post('/user/create', user_controller.user_create_article);-->
<!--<a href="/blog/user/create">User Create POST </a> | -->

<!--router.get('/user/:user_id/delete', user_controller.user_delete_get);-->
<!--<a href="/blog/user/:user_id/delete">User Delete GET </a> | -->

<!--router.post('/user/:user_id/delete', user_controller.user_delete_article);-->
<!--<a href="/blog/user/:user_id/delete">User Delete POST   </a> | -->

<!--router.get('/user/:user_id/update', user_controller.user_update_get);-->
<!--<a href="/blog/user/:user_id/update">User Update GET </a> |-->

<!--router.post('/user/:user_id/update', user_controller.user_update_article);-->
<!--<a href="/blog/user/:user_id/update">User Update POST</a> |-->

<!--router.get('/user/:user_id', user_controller.user_detail);-->
<!--<a href="/blog/user/:user_id">User Detail One  </a> |-->

<!--router.get('/users', user_controller.user_list);-->
<!--<a href="/blog/users">User Detail All </a> -->

<!--<br/>-->
<!-- COMMENTS LINKS -->

<!--router.get('/comment/create', comment_controller.comment_create_get);-->
<!--<a href="/blog/comment/create">Comment Create GET </a> | -->

<!--router.post('/comment/create', comment_controller.comment_create_article);-->
<!--<a href="/blog/comment/create">Comment Create POST </a> | -->

<!--router.get('/comment/:comment_id/delete', comment_controller.comment_delete_get);-->
<!--<a href="/blog/comment/:comment_id/delete">Comment Delete GET </a> | -->

<!--router.article('/comment/:comment_id/delete', comment_controller.comment_delete_article);-->
<!--<a href="/blog/comment/:comment_id/delete">Comment Delete POST   </a> | -->

<!--router.get('/comment/:comment_id/update', comment_controller.comment_update_get);-->
<!--<a href="/blog/comment/:comment_id/update">Comm Update GET </a> |-->

<!--router.article('/comment/:comment_id/update', comment_controller.comment_update_article);-->
<!--<a href="/blog/comment/:comment_id/update">Comm Update POST </a> |-->

<!--router.get('/comment/:comment_id', comment_controller.comment_detail);-->
<!--<a href="/blog/comment/:comment_id">Comm Detail One  </a> |-->

<!--router.get('/comments', comment_controller.comment_list);-->
<!--<a href="/blog/comments">Comm Detail All </a> -->

<!--<br/>-->
<!-- CATEGORY LINKS -->

<!--router.get('/category/create', category_controller.category_create_get);-->
<!--<a href="/blog/category/create">Category Create GET </a> | -->

<!--router.article('/category/create', category_controller.category_create_article);-->
<!--<a href="/blog/category/create">Category Create POST </a> | -->

<!--router.get('/category/:category_id/delete', category_controller.category_delete_get);-->
<!--<a href="/blog/category/:category_id/delete">Category Delete GET </a> | -->

<!--router.article('/category/:category_id/delete', category_controller.category_delete_article);-->
<!--<a href="/blog/category/:category_id/delete">Category Delete POST   </a> | -->

<!--router.get('/category/:category_id/update', category_controller.category_update_get);-->
<!--<a href="/blog/category/:category_id/update">Category Update GET </a> |-->

<!--router.article('/category/:category_id/update', category_controller.category_update_article);-->
<!--<a href="/blog/category/:category_id/update">Cat Update POST </a> |-->

<!--router.get('/category/:category_id', category_controller.category_detail);-->
<!--<a href="/blog/category/:category_id">Cat Detail One  </a> |-->

<!--router.get('/categories', category_controller.category_list);-->
<!--<a href="/blog/categories">Cat Detail All </a> -->

<!--</center>-->
<br/>
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
