<!--POST VIEW STARTS HERE -->
<% if (title == 'Create Article') { %>

<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="Article Title">
              <br>
              Article Body:<br>
              <!--<input type="textarea" name="article_body" value="article Body">-->
              <textarea name="article_body" rows="4" cols="50">
  
  </textarea>
              <br><br>
              
              Author:<br>
              <!--<input type="text" name="user_id" value="1">-->
         <select name="user_id">
            <% users.forEach(function(user) { %>
        <option value="<%=user.id %>"><%=user.first_name%> <%= user.last_name%> </option>
        <% }); %>

        </select>
              <br><br>
               Category:<br>
              <!--<input type="text" name="category_id" value="1">-->
              <% categories.forEach(function(category) { %>
              <input type="checkbox" class='categoryCheckbox' id="<%= category.id%>" name="categories" value="<%= category.id%>">
              <label for="<%= category.name%>"> <%=category.name%> </label><br>
               <% }); %>
              <br><br>
              <input type="submit" value="Submit" onClick="checkCat()">
            </form>
        </div>
    </div>

<% } else if (title == 'Delete Article') { %>
     
<% } else if (title == 'Update Article') { %>


 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/article/<%= article.id %>/update" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="<%= article.article_title %>">
              <br>
              Article Body:<br>
              <textarea name="article_body" value="<%= article.article_body %>" rows="4" cols="50"></textarea>
              <br><br>
                <div>
                    <p>Select Categories: </p>
                     <% categories.forEach(function(category) { %>
                    <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                    <label for="<%= category.name %>"><%= category.name %></label>
                <br>
               <% }); %>
                 </div>
              <br><br>
              <input type="submit" value="Update Article"  onClick="checkCat()">
            </form>
        </div>
    </div>
  
<% } else if (title == 'Article Details') { %>

<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single article</h1>
             <p>I am an article for this ID = <%= article.id %></p>
             <p>Article Title: <%= article.article_title %></p>
             <p>Article Body:  <%= article.article_body %></p>
             <p>Author: <%= article.User.first_name%> <%= article.User.last_name %><br/>
                          
             <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>
            
            </p>
             <b>Inside Categories:</b> 
<% article.categories.forEach(function(category) { %> 
 <a href="/blog/category/<%= category.id %>/"> <%= category.name %> </a>  
<% }); %>


             
             
        <% if(article.Comments.length == 0) { %>
        <h4>There are no comments for this article yet </h4>
        <% } else { %>
        <h2>All Comments on this Article</h2>
        <div class="">
            <ol>
                <% article.Comments.forEach(function(comment) { %>
                <li>
                    <p><%= comment.title %>
                        --- <a href="/blog/comment/<%= comment.id %>/update">Edit Comment</a> | <a
                            href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
                    </p>
                </li>
                <% }); %>
            </ol>
        </div>
        <% } %>
        
        <form action="/blog/comment/create" method="post">
            <textarea cols="50" name="title" value="">What do you think about the article?
            </textarea>
            <br>
            <input type="hidden" name="article_id" value="<%= article.id %>">
            <input type="submit" value="Comment On This Article">
        </form>
             
        </div>
    </div>

   
<% } else if (title == 'Article List') { %>

<div class="col-sm-8">    
        <div class="">
        <ol>
        <% articles.forEach(function(article) { %>
                <li>
                    <h4><a href="/blog/article/<%= article.id %>"><%= article.article_title %></a></h4>
                    <p>The main body of the article:  <%= article.article_body %></p>
                    <p>Author: <%=article.User.first_name %></p>
                    
                     <!--Category: DISPLAY CATEGORY HERE -->
                         <b>Inside Categories: </b> <% article.categories.forEach(function(category) { %>  <a href="/blog/category/<%= category.id %>/"> <%= category.name %> </a>  <% }); %>
                        </p>
                    
                     <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>
                </li>
            <br/>
        <% }); %>
        </ol>
        <p><a href="/blog/article/create"> CLICK HERE TO CREATE AN ARTICLE </a></p>
    </div>
    </div>

   
<% } else { %>

<% } %>
<!--POST VIEW END HERE-->
<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>