<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->
<% if (title == 'Create Category') { %>
   <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
               Category Name:<br>
              <input type="text" name="name" value="">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Category') { %>
     
<% } else if (title == 'Update Category') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/category/<%= category.id %>/update" method="post">
             New Category Name :<br>
              <input type="text" name="name" value="<%= category.name%>">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Category Details') { %>
     <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Category</h1>
             <p>I am a category for this ID = <%= category.id %></p>
             <p>Category Name:  <%= category.name %></p>
             <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
             
             <% if(category.articles.length == 0) { %>
            <h2>There are no articles under this category yet </h2>
        <% } else { %>
            <h2>All Articles in this Category</h2>
            <div class="">
                <ol>
                <% category.articles.forEach(function(article) { %>
                        <li>
                            <p><%= article.article_title %><br>
                               <%= article.article_body %>
                                <br/><a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>  
         
        </div>
    </div>
<% } else if (title == 'Category List') { %>
   <div class="col-sm-8">    
        <div class="">
        <ol>
        <% categories.forEach(function(category) { %>
                <li>
                    <h4><a href="/blog/category/<%= category.id %>"> <%= category.name %></a></h4>

                     <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
                </li>
            <br/>
        <% }); %>
        </ol>
        <p><a href="/blog/category/create">CLICK HERE TO CREATE A CATEGORY </a></p>
    </div>
    </div>
<% } else { %>

<% } %>
<!--CATEGORY VIEW END HERE-->