<!--COMMENT VIEW STARTS HERE-->
<!--complete logic for category view-->
<% if (title == 'Create Comment') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
               Comment Title:<br>
              <input type="text" name="title" value="">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Comment') { %>
     
<% } else if (title == 'Update Comment') { %>
   <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/comment/<%= comment.id %>/update" method="post">
               Comment:<br>
              <input type="text" name="title" value="">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Comment Details') { %>
     <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Comment</h1>
             <p>I am a comment for this ID = <%= comment.id %></p>
             <p>Comment:  <%= comment.title %></p>
             <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
        </div>
    </div>
<% } else if (title == 'Comment List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% comments.forEach(function(comment) { %>
                <li>
                    <h4><a href="/blog/comment/<%= comment.id %>"> <%= comment.title %></a></h4>

                     <a href="/blog/comment/<%= comment.id %>/update">Edit  Comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete Comment</a>
                </li>
            <br/>
        <% }); %>
        </ol>
        <p><a href="/blog/comment/create">CLICK HERE TO CREATE A COMMENT</a></p>
    </div>
    </div>
<% } else { %>

<% } %>
<!--COMMENT VIEW END HERE-->