<!--AUTHOR VIEW STARTS HERE -->
<!--complete logic for author view-->
<% if (title == 'Create User') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              First name:<br>
              <input type="text" name="first_name" value="John">
              <br>
              Last name:<br>
              <input type="text" name="last_name" value="Doe">
              <br>
              Username:<br>
              <input type="text" name="username" value="">
              <br>
              Email:<br>
              <input type="text" name="email" value="">
              <br>
               password:<br>
              <input type="text" name="password" value="">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete User') { %>
     
<% } else if (title == 'Update User') { %>
     <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/user/<%= user.id %>/update" method="post">
              First name:<br>
              <input type="text" name="first_name" value="<%= user.first_name %>">
              <br>
              Last name:<br>
              <input type="text" name="last_name" value="<%= user.last_name %>">
              <br>
              Username:<br>
              <input type="text" name="username" value="<%= user.username%>">
              <br>
              Email:<br>
              <input type="text" name="email" value="<%= user.email %>">
              <br>
               password:<br>
              <input type="text" name="password" value=" <%= user.password %>">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'User Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single User</h1>
             <p>I am a user for this ID = <%= user.id %></p>
             <p>First Name: <%= user.first_name %></p>
             <p>Last Name:  <%= user.last_name %></p>
             <p>Email Address:  <%= user.email %></p>
             <p>Username:  <%= user.username %></p>
             <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
             
              <% if(user.Articles.length == 0) { %>
            <h2>There are no articles by this user yet </h2>
        <% } else { %>
            <h2>All Articles by this User</h2>
            <div class="">
                <ol>
                <% user.Articles.forEach(function(article) { %>
                        <li>
                            <p> 
                                <a href="/blog/article/<%= article.id %>"><%= article.article_title %></a>
                                 <br/>
                                <%= article.article_body %>
                                <br/> <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>   
         
           
        <h2>Create new Article for this user </h2>
        <!--DISPLAY CREATE FORM IN AUTHOR-->
        
        <!--YOU CAN ALSO MOVE THIS TO ANY ROUTE IF YOU WANT-->
        
        <form action="/blog/article/create" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="Article Title">
              <br><br/>
              Article Body:<br>
              <input type="text" name="article_body" value="Article Body">
              <br><br>
              
              <input type="hidden" name="user_id" value="<%= user.id %>">
              Category:<br>
                <div>
                     <% categories.forEach(function(category) { %>
                    <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                    <label for="<%= category.name %>"><%= category.name %></label>
                    
                <br/>
               <% }); %>
                 </div>
              <br>
              <input type="submit" value="Create Article" onClick="checkCat()">
             </form>
         
         
        </div>
        </div>
    </div>
<% } else if (title == 'Users List') { %>
   <div class="col-sm-8">    
        <div class="">
        <ol>
        <% users.forEach(function(user) { %>
                <li>
                    <h4><a href="/blog/user/<%= user.id %>"> <%= user.first_name %> <%= user.last_name%> </a></h4>

                     <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
                </li>
            <br/>
        <% }); %>
        </ol>
       <p> <a href="/blog/user/create"> CLICK HERE TO CREATE A USER</a> </p>
    </div>
    </div>
<% } else { %>

<% } %>
<!--AUTHOR VIEW END HERE-->
<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>