<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total users in database is <%= userCount.count %> </p>
    <p>Total articles in database is <%= articleCount.count %> </p>
    <p>Total comments in database is <%= commentCount.count%> </p>
    <p>Total categories in database is <%= categoryCount.count %> </p>

</div>